<!-- WE ARE MY GYM SECTION
    ============================================= -->
<section id="wearemygym">
  <div class="content-wrap" style="margin-bottom:0px;">
    <div class="container clearfix">
        {{#each _embedded.6f50736a:explain}}
          <div class="col_one_fourth nobottommargin {{#if @last}}col_last{{/if}}">
            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
              <div class="fbox-icon">
                <a href="{{href}}"><i class="i-alt noborder icon-{{icon}}"></i></a>
              </div>
              <h3>{{title}}<span class="subtitle">{{subtitle}}</span></h3>
            </div>
          </div>

        {{/each}}

      <div class="clear"></div>
    </div>
  </div>
</section>