<!-- MY GYM Membership
        ============================================= -->
<section id="membership">
  <div class="section notopmargin nobottommargin">
    <div class="container clearfix">
      <div class="col_half nobottommargin topmargin-lg">
        ##TEXT##
      </div>

      <!-- End MY GYM Membership MODAL POP OVER -->
      <div class="col_half nobottommargin topmargin-lg col_last">

        <!-- Start FAQs -->
        <h2>DEINE FRAGE - UNSERE ANTWORT.
        </h2>

        <div class="accordion accordion-border clearfix" data-state="closed">
          <div class="acctitle"><i class="acc-closed icon-money"></i><i
              class="acc-open icon-question-sign"></i>Was muss ich bei MY GYM bezahlen?
          </div>
          <div class="acc_content clearfix">
            <ul>
              <li>
                <p><b>Monatliche Trainingsgebühr von 19,99 Euro</b></br>
                  Der MY GYM-Vertrag hat eine Erstlaufzeit von 12 Monaten und verlängert sich danach automatisch, jeweils um einen Monat. Im Club liegen standardisierte Trainingsprogramme auf. Eine permanente Trainingsbetreuung gibt es nicht.</p></li>
              <li>
                <p><b>Einmalig am Start: MY-Startpackage zu 20,- Euro</b></br>
                  Mit dem Startpackage bekommst du alles, was du für einen guten Start bei MY GYM benötigst: Die MY GYM-Membercard, 5,- Euro Startgebühr auf dein MY GYM-Konto sowie das MY GYM-Booklet, das u. a. hilfreiche Informationen für ein erfolgreiches Training enthält. Das Startpackage bezahlst du bar oder per Bankomat beim ersten Check-in.</p></li>
              <li>
                <p><b>Jährliche Verwaltungsgebühr von 19,99 Euro</b></br>
                  Damit bist du bei uns im System als Member angelegt und die ersten wichtigen Verwaltungsarbeiten können durchgeführt werden. Die Zugangsdaten für die MY GYM Online-Services erhältst du am Infopoint.</p></li>
              <li><p><b>Gruppeneinweisungen</b></br>
                Für alle, die noch keine Trainingserfahrung haben, bieten wir Gruppeneinweisungen in die Geräte an. Zusätzlich kann man sich auch eine Trainereinheit um je 19,99 dazu buchen.<br/> <br/> <strong>Empfohlene Links zum Thema Training:</strong><br/><a href="http://www.fitness-trainingsplan.de" target="_blank">www.fitness-trainingsplan.de</a> <strong><a href="http://www.tivital.de/fitness-trainingsplan.php">www.tivital.de/fitness-trainingsplan.php</a></strong><br/> <strong>App: Men´s Health Personal Fitness Trainer</strong></li> </p>

              <li>Das Mindestalter für eine Mitgliedschaft beträgt übrigens 14 Jahre. Bei Minderjährigen wird bei Vertragsabschluss die Unterschrift der Eltern vor Ort benötigt.</li>
            </ul>
          </div>

          <div class="acctitle"><i class="acc-closed icon-line-circle-check"></i><i
              class="acc-open icon-line-circle-check"></i>Die MY GYM-Zufriedenheitsgarantie
          </div>
          <div class="acc_content clearfix">

            <p>Du sollst dich bei uns wohlfühlen und gern zum Training kommen. Dafür hast du ausreichend Zeit das MY GYM zu testen. Denn innerhalb von zwei Wochen nach Vertragsabschluss kannst du vom Vertrag zurücktreten. Du bezahlst dann lediglich das Startpackage von 20,- Euro.</p>

          </div>

          <div class="acctitle"><i class="acc-closed icon-credit-cards"></i><i
              class="acc-open icon-credit-cards"></i>Die MY GYM-Membercard und das MY GYM-Konto
          </div>
          <div class="acc_content clearfix">

            <p>In MY GYM gibt es kein Bargeld. Alles, was du im MY GYM konsumierst wird über dein MY GYM-Konto und deine Membercard abgerechnet. Sobald du ein Guthaben auf das MY GYM-Konto gebucht hast, bekommst du zum Start ein Guthaben von 5,- Euro von uns dazu.</p>

          </div>

          <div class="acctitle"><i class="acc-closed icon-tablet"></i><i
              class="acc-open icon-tablet"></i>Die MY GYM-Welt ist digital
          </div>
          <div class="acc_content clearfix">

            <p>Daher werden administrative Angelegenheiten in der Regel online abgewickelt, d. h. du kannst dich online anmelden, deine Daten von Zuhause vom PC aus verwalten oder per E-Mail kündigen.</p>

          </div>

          <div class="acctitle"><i class="acc-closed icon-wifi-full"></i><i
              class="acc-open icon-wifi-full"></i>Vibrationstraining für schnelle Trainingserfolge
          </div>
          <div class="acc_content clearfix">

            <p>Dafür stehen im MY GYM Geräte der Firma Vibrogym zur Verfügung. Eine Trainingseinheit dauert 15 Minuten und kostet 4,- Euro. Günstiger geht’s mit dem <a href="#specials">Special MY VIBRA-Abo</a>. Wer noch keine Erfahrung mit Vibrationstraining hat, kann einen der Einführungskurse besuchen.</p>

          </div>

          <div class="acctitle"><i class="acc-closed icon-wallet"></i><i
              class="acc-open icon-wallet"></i>Für’s Duschen bezahlen?
          </div>
          <div class="acc_content clearfix">

            <p>Bei MY GYM bezahlst du genau das, was du auch wirklich nutzt. Viele unserer Kunden duschen zu Hause. Daher sind die Duschen auch nicht in der Trainingsgebühr enthalten. Doch keine Sorge: einmal duschen kostet nur 50 Cent und funktioniert ganz einfach mit der Membercard.</p>

          </div>

          <div class="acctitle"><i class="acc-closed icon-sun"></i><i
              class="acc-open icon-sun"></i>Gesund bräunen im Solarium
          </div>
          <div class="acc_content clearfix">

            <p>Die Solarien werden im Minutentakt verrechnet, d. h. du bräunst genau so lange, wie es deinem Körper gut tut. Oft reichen 5 Minuten ja schon aus um das wichtige Vitamin-D zu produzieren. Wenn du regelmäßig ins Solarium gehst, empfehlen wir dir das <a href="/specials.php">Special MY SUN-Abo</a>.</p>

          </div>

          <div class="acctitle"><i class="acc-closed icon-cogs"></i><i
              class="acc-open icon-cogs"></i>Persönliche Einzeltrainings
          </div>
          <div class="acc_content clearfix">
            <p>Unterstützend kannst du dir jederzeit persönliche Einzeltrainings um 19,99 pro Einheit buchen.</p>
          </div>

        </div>

        <h3>Wenn Du das Maximum aus deiner bestehenden MY GYM Mitgliedschaft holen willst, schaue dir die Specials an.</h3>

      </div>
    </div>
  </div>
</section><!-- #membership end -->