<!-- Header
    ============================================= -->
<header id="header" class="full-header transparent-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!--

            Logo
            ========================…

            -->

            <div id="logo">

                <a class="standard-logo" data-dark-logo="img/logo/logo.png" href="index.html">
                    <img alt="Canvas Logo" src="img/logo/logo.png"></img>
                </a>


            </div>
            <!--

             #logo end

            -->

            <!-- Hauptnavigationsleiste Start
            ============================================= -->
            <nav id="primary-menu">

                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                {{#each nav}}
                    <li><a href="#" data-href="{{href}}"><div style="text-transform: uppercase;">{{title}}</div></a></li>
                {{/each}}
                </ul>

                <!-- Until appsite supports it, disabled 	<div id="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div> -->

            </nav><!-- Hauptnavigationsleiste Ende -->

        </div>

    </div>

</header><!-- #header end -->




<!-- Slider
============================================= -->

<section id="slider" class="slider full-screen swiper_wrapper clearfix">

  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">

      <div class="swiper-slide" style="background-image: url('img/slider-img/startSlide_3.jpg'); background-position: center top; ">
        <div class="container clearfix">
          <div class="slider-caption">
            <h2 data-caption-animate="fadeInUp" style="text-transform: uppercase;"></h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="100" style="text-transform: uppercase;"></p>
          </div>
          <a href="#membership"><img src="img/slideTeaser_alt.png" style="margin-top: 35%;" alt="MY GYM Aktion"></a>
        </div>
      </div>

      <div class="swiper-slide" style="background-image: url('img/slider-img/startSlide_1.jpg');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center" style=" -ms-transform: rotate(8deg); /* IE 9 */ -webkit-transform: rotate(8deg); /* Safari */  transform: rotate(8deg);">
            <h2 data-caption-animate="fadeInUp">MY FRIENDS,<br> MY GYM</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="100">Nutze das MY FRIENDS Day Ticket und bringe alle Deine Freunde zu einem kostenlosen, gemeinsamen Probetraining mit! Kassiert beide Prämien bei Vertragsschluss.</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" style="background-image: url('img/slider-img/startSlide_2.jpg');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center" style=" -ms-transform: rotate(-8deg); /* IE 9 */ -webkit-transform: rotate(-8deg); /* Safari */  transform: rotate(-8deg);">
            <h2 data-caption-animate="fadeInUp">Die Evolution der preisbewussten Fitnessidee!</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="100">Meldest du dich JETZT online an, profitierst du vom ONLINE-BONUS und trainierst die ersten 3 vollen Monate um nur € 14,99!</p>
          </div>
        </div>
      </div>


    </div>
    <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
    <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
  </div>

  <script>
    jQuery(document).ready(function($){
      var swiperSlider = new Swiper('.swiper-parent',{
        paginationClickable: false,
        slidesPerView: 1,
        grabCursor: true,
        autoplay: 9000,
        loop: true,
        onSwiperCreated: function(swiper){
          $('[data-caption-animate]').each(function(){
            var $toAnimateElement = $(this);
            var toAnimateDelay = $(this).attr('data-caption-delay');
            var toAnimateDelayTime = 0;
            if( toAnimateDelay ) { toAnimateDelayTime = Number( toAnimateDelay ) + 750; } else { toAnimateDelayTime = 750; }
            if( !$toAnimateElement.hasClass('animated') ) {
              $toAnimateElement.addClass('not-animated');
              var elementAnimation = $toAnimateElement.attr('data-caption-animate');
              setTimeout(function() {
                $toAnimateElement.removeClass('not-animated').addClass( elementAnimation + ' animated');
              }, toAnimateDelayTime);
            }
          });

          SEMICOLON.slider.swiperSliderMenu();
        },
        onSlideChangeStart: function(swiper){
          $('[data-caption-animate]').each(function(){
            var $toAnimateElement = $(this);
            var elementAnimation = $toAnimateElement.attr('data-caption-animate');
            $toAnimateElement.removeClass('animated').removeClass(elementAnimation).addClass('not-animated');
          });
          SEMICOLON.slider.swiperSliderMenu();
        },
        onSlideChangeEnd: function(swiper){
          $('#slider').find('.swiper-slide').each(function(){
            if($(this).find('video').length > 0) { $(this).find('video').get(0).pause(); }
            if($(this).find('.yt-bg-player').length > 0) { $(this).find('.yt-bg-player').pauseYTP(); }
          });
          $('#slider').find('.swiper-slide:not(".swiper-slide-active")').each(function(){
            if($(this).find('video').length > 0) {
              if($(this).find('video').get(0).currentTime != 0 ) $(this).find('video').get(0).currentTime = 0;
            }
            if($(this).find('.yt-bg-player').length > 0) {
              $(this).find('.yt-bg-player').getPlayer().seekTo( $(this).find('.yt-bg-player').attr('data-start') );
            }
          });
          if( $('#slider').find('.swiper-slide.swiper-slide-active').find('video').length > 0 ) { $('#slider').find('.swiper-slide.swiper-slide-active').find('video').get(0).play(); }
          if( $('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').length > 0 ) { $('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').playYTP(); }

          $('#slider .swiper-slide.swiper-slide-active [data-caption-animate]').each(function(){
            var $toAnimateElement = $(this);
            var toAnimateDelay = $(this).attr('data-caption-delay');
            var toAnimateDelayTime = 0;
            if( toAnimateDelay ) { toAnimateDelayTime = Number( toAnimateDelay ) + 300; } else { toAnimateDelayTime = 300; }
            if( !$toAnimateElement.hasClass('animated') ) {
              $toAnimateElement.addClass('not-animated');
              var elementAnimation = $toAnimateElement.attr('data-caption-animate');
              setTimeout(function() {
                $toAnimateElement.removeClass('not-animated').addClass( elementAnimation + ' animated');
              }, toAnimateDelayTime);
            }
          });
        }
      });

      $('#slider-arrow-left').on('click', function(e){
        e.preventDefault();
        swiperSlider.swipePrev();
      });

      $('#slider-arrow-right').on('click', function(e){
        e.preventDefault();
        swiperSlider.swipeNext();
      });


    });


  </script>

  <a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

</section><!-- #slider end -->